
.about_section{
    
    background-image: url(./Assets/bg-about-us.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}


.about_title{
    font-size: 4rem;
    
}

.about_para{
 max-width: 50rem; 
 font-size: 1rem;
 text-align: center;  
 letter-spacing: .1rem;
 line-height: 2.5rem;
 color: #999799;
}



.btn{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: .2rem solid black;
    text-align: center;
    cursor: pointer;
transition: 0.3s;
}

.btn:hover{
    background-color: black;
    color: white;
}

@media (max-width:500px){

.about_section{
    padding: 2rem;
}

.btn{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;

}

.about_title{
font-size: 3rem;
}



}


@media (max-width:400px){
    .about_title{
        font-size: 1.8rem;
    }

    .about_para{
        font-size: .7rem;
    }

    .btn{
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    
    }




}
@media (max-width:300px){
    .about_title{
        font-size: 1.2rem;
    }

    .about_para{
        font-size: .6rem;
    }


.about_logo{
    width: 50px;
}

.btn{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .6rem;


}




}