                
                .yogurt_section{
                    height: 100vh;
                    background-image: url(./Assets/milk-bg.jpg);
                    background-position: center;
                    background-size: cover;
                    background-attachment: fixed;
                    background-repeat: no-repeat;
                    filter: brightness(0.8);
                    background-color: rgba(0, 0, 0, 0);
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                    gap: 2rem;
                  
                    
                }
                
                
                
                
                
                
                .yogurt_logo{
                    height: 150px;
                }
                
                .yogurt_title{
                    font-size: 4rem;
                    color:	white ;
                 
                  
                }
                
                .yogurt_para{
                    max-width: 50rem; 
                    font-size: 1rem;
                    text-align: center;  
                    letter-spacing: .1rem;
                    line-height: 2.5rem;
                 color: white;
                text-transform: uppercase;
                }




                @media (max-width:500px){
                  
                .yogurt_section{
                    padding: 3rem;
                
                }

                .yogurt_para{
                    font-size: .7rem;
                }
                .yogurt_title{
                    font-size: 3rem;
                }
                .yogurt_logo{
                    width: 150px;
                }

                }
                @media (max-width:430px){
                  
                .yogurt_section{
                    padding: 2rem;
                
                }

                .yogurt_para{
                    font-size: .5rem;
                }
                .yogurt_title{
                    font-size: 2rem;
                }
                .yogurt_logo{
                    width: 100px;
                    height: 100px;
                }

                }

                @media (max-width:312px){
                  
                .yogurt_section{
                    padding: 2rem;
                
                }

                .yogurt_para{
                    font-size: .5rem;
                }
                .yogurt_title{
                    font-size: 1.9rem;
                }

                 .yogurt_logo{
                     width: 50px;
                     height: 50px;
                 }
                }


                @media (max-width:312px){
                    .yogurt_title{
                        font-size: 1.3rem;
                    }
                }